.turn-container {
  display:inline-block;
  background:orange;
  box-shadow:0px 0px 3px 1px black;
  border-radius:6px;
  user-select:none;
}

.turn-container:focus {
  outline:2px solid;
}

.turn-container.turned .turner {
  transform: rotateY(180deg);
}

.turner {
  transition:0.6s;
  transform-style: preserve-3d;
  position:relative;
}

.front,
.back {
  backface-visibility:hidden;
  position:absolute;
  left:0;
  top:0;
}

.back {
  z-index: 2;
  transform: rotateY(0deg);
}

.front {
  transform: rotateY(180deg);
}